<div class="page-header1" style="linear-gradient:(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), rgba(0, 0, 0, 0.2) url(../images/cover-3.jpg) no-repeat center">
  <div class="container">
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="wrapper-content bg-white ">
        <div class="about-section pinside40">
          <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
              <h2 class="mb30" translate>UN80</h2>
              <p class="lead mb30" style="color: #0E0057;" translate>UN65</p>
              <p class="lead mb30" style="color: #0E0057;" translate>UN172</p>
              <p class="lead mb30" style="color: #0E0057;" translate>UN173</p>
              <p class="lead mb30" style="color: #0E0057;" translate>UN66</p>
                <div class="row">
                  <div class="col-md-12">
                    <div class="">
                      <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                          <div class="mb60">
                            <p class="lead"><b translate>UN67</b></p>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                          <div class="team-block mb30">
                            <div class="team-img mb30"> <img src="assets/images/s4image.png" alt="Borrow - Loan Company Website Template" class="img-fluid"> </div>
                            <div class="team-content text-center">
                              <h3 translate>UN68</h3>
                              <small class="designation" translate>UN69</small> </div>
                          </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                          <div class="team-block mb30">
                            <div class="team-img mb30"> <img src="assets/images/s2image.png" alt="Borrow - Loan Company Website Template" class="img-fluid"> </div>
                            <div class="team-content text-center">
                              <h3 translate>UN70</h3>
                              <small class="designation" translate>UN71</small> </div>
                          </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                          <div class="team-block mb30">
                            <div class="team-img mb30"> <img src="assets/images/simage.png" alt="Borrow - Loan Company Website Template" class="img-fluid"> </div>
                            <div class="team-content text-center">
                              <h3 translate>UN72</h3>
                              <small class="designation" translate>UN73</small> </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
              <div class="mb60">
                <h2 class="mb30" translate>UN74</h2>
                <p class="lead mb30" style="color: #0E0057;" translate>UN75</p>
              </div>
            </div>
          </div>
            <div style="margin-top: -35px;">
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                  <h2 class="mb30" style="color: #ffc107;" translate>UN76</h2>
                  <p class="lead mb30" style="color: #0E0057;" translate>UN77</p>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                  <div class="mb60">
                    <h2 class="mb30" style="color: #ffc107;" translate>UN78</h2>
                    <p class="lead mb30" style="color: #0E0057;" translate>UN79</p>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
